---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    <p>
      &copy; {today.getFullYear()} ItsMeAlfie0 &bull; <a href="https://status.itsmealfie0.com">Status Page</a>
    </p>
  </div>
</footer>
